/* Body Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #666b70; /* Dark gray background */
  color: #fff; /* Light text color for contrast */
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #333;
}

p {
  margin-bottom: 1rem;
}
